{% extends "base.html" %}

{% block titulo %}
Missão
{% endblock %}

{% block conteúdos %}
<link href="/static/css/missao.css" rel="stylesheet" type="text/css" />
  <div class="mi">
    <h1>Qual a nossa missão?</h1>
    <p>O tópico de saúde mental é<br> 
      o us foi criado para dar apoio a escolas municipais<br> 
      e estaduais que por falta de condições não tem acesso<br> 
      a profissionais da área da psicologia para prestar assistência<br> 
      aos seus alunos. pensando nisso criamos este site para poder<br>
      proporcionarem que universitários cursando psicologia possam<br> 
      fazer estágio nessas escolas, oferecendo sessões gratuitas<br> 
      para esses estudantes que precisam desse apoio.
    </p>
  </div>
{% endblock %}