{% extends "base.html" %}

{% block titulo %}
Quem somos
{% endblock %}


{% block conteúdos %}
  <section class="Quem">
        <h3>Quem somos nós</h3>
            <div class="Box">
                <div class="Box1">
                    <img src="/static/imgs/Jennif_p.png" class="imgs" alt="ft">
                    <h6>Jennif Anjos</h6>
                    <p>Estudante do IFRN campus natal zona norte, <br>
                    cursando informática para internet <br>
                    e desenvolvedora da área da documentação<br></p>
                    <figure>
                        <!--<img src="https://user-images.githubusercontent.com/85267857/157676213-3b272229-9759-4339-b001-faea9fa51dc9.png" alt="icone">-->
                    </figure>
                </div>
                <div class="Box1">
                    <img src="/static/imgs/Lucas_p.png" class="imgs" alt="ft">
                     <h6>Lucas Gabriel</h6>
                    <p>Estudante do IFRN campus natal zona norte, <br>
                    cursando informática para internet <br>
                    e desenvolvedor da área da codificação<br></p>
                    <figure>
                        <!--<img src="https://user-images.githubusercontent.com/85267857/157676213-3b272229-9759-4339-b001-faea9fa51dc9.png" alt="icone">-->
                    </figure>
                </div>
                <div class="Box1">
                    <img src="/static/imgs/Aslam_p.png" class="imgs" alt="ft">
                    <h6>Ana Luiza</h6>
                    <p>Estudante do IFRN campus natal zona norte,<br>
                    cursando informática para internet <br> 
                    e desenvolvedora da área do design gráfico<br></p>
                    <figure>
                        <!--<img src="https://user-images.githubusercontent.com/85267857/157676213-3b272229-9759-4339-b001-faea9fa51dc9.png" alt="icone">-->
                    </figure>
                </div>
            </div>
{% endblock %}
  